@model Web.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="image-perfil">
        <figure>
            <img src="@Model.UrlPhoto" alt="Foto de perfil" />
        </figure>
        <figcaption>@Model.Name @Model.LastName</figcaption>
    </div>
    
</div>
<h3>Seguindo: @Model.Following  Seguidores: @Model.Followers</h3>
<div class="row">
    <div class="col-md-12">
        <h2>Meus Dados</h2>
        <div class="dados">
            <div class="panel panel-default dados-pessoais">
                <div class="panel-heading">Dados Pessoais</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Nome: @Model.Name @Model.LastName </li>
                        <li class="list-group-item">Idade: 21</li>
                        <li class="list-group-item">Cidade: @Model.City</li>
                        <li class="list-group-item">Email: @Model.Email</li>
                    </ul>
                </div>
            </div>
            @*<div class="panel panel-default">
                <div class="panel-heading">Dados do jogo</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Jogador: Nome Player </li>
                        <li class="list-group-item">Level: 35</li>
                        <li class="list-group-item">Elo atual: Platina IV</li>
                        <li class="list-group-item">Maestria: 5</li>
                        <li class="list-group-item">Server: Brasil</li>
                        <li class="list-group-item">Rota principal: Meio</li>
                        <li class="list-group-item">Campeão principal: Oriana</li>
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
</div>

