@model Web.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav main-menu" id="sidenav01">
                        <li class="active">
                            <h4 style="padding-left: 17px;">
                                <img style="border-radius: 10px 10px 10px;width: 100%;" src="@Model.UrlPhoto" />
                            </h4>

                        </li>
                        <li>
                            <a href="Index" class="collapse">Meu perfil</a>
                        </li>
                        <li>
                            <a href="#">
                                Seguidores <span class="badge pull-right">@Model.Followers</span>
                            </a>
                        </li>
                        <li><a href="#">Seguindo <span class="badge pull-right">@Model.Following</span></a></li>
                        <li>
                            <a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01">
                                Conta <span class="caret pull-right"></span>
                            </a>
                            <div class="collapse" id="toggleDemo2" style="height: 0px;">

                                @Html.Partial("_LoginPartial")
                            </div>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-10 affix-content content">
        <div class="container">

            <div class="page-header">
                <h3><span class="glyphicon glyphicon-user"></span> @Model.Name @Model.LastName</h3>
                @Html.ActionLink("Procurar perfil", "allprofiles", "Profile", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Página inicial", "Index", "Feed", null, new { @class = "btn btn-default" })

            </div>

            <div class="container main-container">

                <div class="panel panel-info dados-pessoais" id="details-profile" style="width: 80%;">
                    <div class="panel-heading" style="display: flow-root;">
                        Dados Pessoais 
                        <span class="pull-right">
                            <button onclick="openEditProfile()" class="btn btn-primary">Atualizar dados</button>
                        </span>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Nome: @Model.Name @Model.LastName </li>
                            <li class="list-group-item">Cidade: @Model.City</li>
                            <li class="list-group-item">Email: @Model.Email</li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-info" id="edit-profile" style="display:none;width: 80%;">
                <div class="panel-heading">Atualizar dados do perfil</div>
                <div class="panel-body">
                    @using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

                <input type="hidden" id="Followers" name="Followers" value="@Model.Followers" />


                <input type="hidden" id="Following" name="Following" value="@Model.Following" />
                <div class="form-group">
                    <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" required />
                </div>
                <div class="form-group">
                    <input type="text" id="LastName" name="LastName" class="form-control" value="@Model.LastName" required />
                </div>
                <div class="form-group">
                    <input type="text" id="City" name="City" value="@Model.City" class="form-control" />
                </div>
                <label for='img' style="display: block;" class="btn btn-primary">Selecione uma foto &#187;</label>
                <input style="display:none" type="file" id="img" name="img" accept="image/*" />
                <button style="margin-top: 20px;float:right" type="submit" class="btn btn-success">Atualizar</button>
}
                </div>
            </div>

            </div>

        </div>
    </div>
</div>